@font-face {
    font-family: PricedownBL;
    src: url(s.ttf);
}



.clock {
	line-height: 5px;
	display: flex;
	justify-content: right;
	
}

.clock .time {
	margin-right: -0.4%;
	top: -5%;
	width: 10%;
	line-height: 30px;
	background: #BC113D;
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	margin-top: 40px;	
}

.clock .left {
	border-style: solid;
	border-width: 0 25px 25px 0;
	border-color: transparent #BC113D transparent transparent;
	margin-top: 40px;
}



